# Pandas Tutuorial Day 11

This Note Book explains how to install the Pandas library

How to install Libraries

In [ ]:
#pip install pandas

- To Import Libraries

In [2]:
import pandas as pd
import numpy as np

In [ ]:
# Object Creation
n= pd.Series([1,2,3,np.NaN,4,5,6,7])
n

In [4]:
# here date range is created
dates= pd.date_range("20220101", periods=12)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10', '2022-01-11', '2022-01-12'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# to make the DataFrame of above date range
df= pd.DataFrame(np.random.rand(12, 4), index=dates ,columns=list("ABCD"))
df

                   A         B         C         D
2022-01-01  0.328804  0.633337  0.853570  0.185706
2022-01-02  0.421210  0.848831  0.345675  0.208881
2022-01-03  0.315051  0.734205  0.298773  0.934904
2022-01-04  0.912109  0.703475  0.180420  0.738608
2022-01-05  0.392963  0.988777  0.879066  0.612972
2022-01-06  0.789282  0.814044  0.268760  0.287187
2022-01-07  0.972467  0.683605  0.267645  0.025971
2022-01-08  0.238314  0.123394  0.777436  0.058548
2022-01-09  0.356712  0.056347  0.717911  0.899513
2022-01-10  0.583836  0.382514  0.013235  0.894119
2022-01-11  0.267580  0.210319  0.797306  0.710625
2022-01-12  0.191495  0.216715  0.139056  0.560806

In [ ]:
# to Check the data types 
df.dtypes

In [ ]:
# to view the heading or tail of data Following command will be used
df.head

In [ ]:
df.head(5)

In [ ]:
df.tail(2)

In [ ]:
# to convert the our Data from Pandas(statistical) to Numpy(array)
df.to_numpy()

In [ ]:
# to describe the Data means finding mean median ect
df.describe()

In [ ]:
# to transpose the data(which is in array form)
df.T

In [ ]:
# we can  sort the Data on the basis of a axis, value etc
df.sort_index(axis=1, ascending=False)

In [ ]:
# we can also use here ascending function
df.sort_values(by="C", ascending=True)

In [ ]:
# to seethe Data based on vakue
df["C"]

In [ ]:
# to Select the Data row wise
df[1:9]

In [ ]:
# to select the Data by Labels   here this label function select data of all labels on specific index
df.loc[dates[0]]

In [ ]:
df.loc[:, ["A", "B"]]       # here we select the data of A , B label of all the rows

In [ ]:
df.loc["20220107: 20220109", ["C", "D"]]

In [11]:
# to find the exact data of specific index
df.at[dates[2], "B"]

0.7342052846088292

In [19]:
# to find the Data on specific Index

df.iloc[0:2, 3:4]

                   D
2022-01-01  0.185706
2022-01-02  0.208881

In [30]:
# to filter the Data on specific value
#df[df["B"] > 0.6 ]
df[(df["A"] > 0) & (df["B"] > 0)]

                   A         B         C         D
2022-01-01  0.328804  0.633337  0.853570  0.185706
2022-01-02  0.421210  0.848831  0.345675  0.208881
2022-01-03  0.315051  0.734205  0.298773  0.934904
2022-01-04  0.912109  0.703475  0.180420  0.738608
2022-01-05  0.392963  0.988777  0.879066  0.612972
2022-01-06  0.789282  0.814044  0.268760  0.287187
2022-01-07  0.972467  0.683605  0.267645  0.025971
2022-01-08  0.238314  0.123394  0.777436  0.058548
2022-01-09  0.356712  0.056347  0.717911  0.899513
2022-01-10  0.583836  0.382514  0.013235  0.894119
2022-01-11  0.267580  0.210319  0.797306  0.710625
2022-01-12  0.191495  0.216715  0.139056  0.560806

In [32]:
df2=df.copy()

In [38]:
df["Mean"] = df.mean(axis=1)
df

                   A         B         C         D      Mean
2022-01-01  0.328804  0.633337  0.853570  0.185706  0.500354
2022-01-02  0.421210  0.848831  0.345675  0.208881  0.456149
2022-01-03  0.315051  0.734205  0.298773  0.934904  0.570733
2022-01-04  0.912109  0.703475  0.180420  0.738608  0.633653
2022-01-05  0.392963  0.988777  0.879066  0.612972  0.718444
2022-01-06  0.789282  0.814044  0.268760  0.287187  0.539818
2022-01-07  0.972467  0.683605  0.267645  0.025971  0.487422
2022-01-08  0.238314  0.123394  0.777436  0.058548  0.299423
2022-01-09  0.356712  0.056347  0.717911  0.899513  0.507621
2022-01-10  0.583836  0.382514  0.013235  0.894119  0.468426
2022-01-11  0.267580  0.210319  0.797306  0.710625  0.496458
2022-01-12  0.191495  0.216715  0.139056  0.560806  0.277018

In [40]:
# to add new column 
df2["E"]=[1,2,3,4,5,6,7,8,9,10,13,14]
df2

                   A         B         C         D   E
2022-01-01  0.328804  0.633337  0.853570  0.185706   1
2022-01-02  0.421210  0.848831  0.345675  0.208881   2
2022-01-03  0.315051  0.734205  0.298773  0.934904   3
2022-01-04  0.912109  0.703475  0.180420  0.738608   4
2022-01-05  0.392963  0.988777  0.879066  0.612972   5
2022-01-06  0.789282  0.814044  0.268760  0.287187   6
2022-01-07  0.972467  0.683605  0.267645  0.025971   7
2022-01-08  0.238314  0.123394  0.777436  0.058548   8
2022-01-09  0.356712  0.056347  0.717911  0.899513   9
2022-01-10  0.583836  0.382514  0.013235  0.894119  10
2022-01-11  0.267580  0.210319  0.797306  0.710625  13
2022-01-12  0.191495  0.216715  0.139056  0.560806  14